<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="well">
			<p>Cancel my account</p>
			<p>chatBucks will miss you.</p>
			<p>Unhappy? <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-primary" %></p>
			<%= link_to "Back", :back,:class=>"btn btn-danger" %>			
		</div>
	</div>
</div>