<div class="row">
  <div class="col-lg-6 col-lg-offset-3 bg-primary">
    <h2 class="text-center">ABOUT</h2>
    <hr>
    <h2>What?</h2>
    <p>
      chatBuck is a social networking app built using Ruby on Rails. It's free &amp; completely open source. You can check the source on <a href="https://github.com/kvp-Navneet/chatBucks" class="text-danger"> Github</a>. Also take a look at the demo deployed to <a href="https://chatbucks.herokuapp.com" class="text-danger">Heroku</a>.
    </p>
    <br>
    <h2>Why?</h2>
    <p>
      I am not building the next Facebook. Given that there are enough social networks already I don't want to end up launching one. Pointless! So why am I building? I want to try and learn how to develop a social network and in the process show you how easy it is done using Rails. Here is the <a href="#" class="text-danger">Blog post</a>.
    </p>
    <br>
    <h2>How?</h2>
    <p>
      As stated above it's a Ruby on Rails application. Frontend is developed using Twitter Bootstrap. Database is Postgresql  for development and  production.
    </p>
    <br><div class="orientation">
    <%= link_to 'Sign up', new_user_registration_path, class:'btn btn-success btn-lg'%>
   
    <%= link_to 'Sign in', user_session_path, class:'btn btn-success btn-lg' %></div>
  </div>
</div>