<div class="row">

  <div id="intro" class="col-lg-6">
    <h1>chatBuck</h1>
    <p>chatBuck is an open source social networking app written using <%= fa_icon 'diamond' %> Ruby on Rails. You can checkout the blog <a href="#">post</a> on how
    it was developed and also the source code on <a href="#"><%= fa_icon 'github' %> Github</a>.</p>
    <hr>
    <a href="#" class="btn btn-warning">
      <%= fa_icon 'fa-sign-in' %> Sign up
    </a>
    <a href="#" class="btn btn-primary">
      <%= fa_icon 'fa-sign-in ' %> Sign in
    </a>
  </div>

</div>