<div class="activity-comment">
  <div class="info">
   <h4 class="name"><%= activity.owner.name %></h4>
    <span class="action">commented on a <%= link_to 'post', activity.trackable.commentable %></span>
  </div>
  <div class="content">
    <h4><small><%= activity.trackable.comment %></small></h4>
  </div>
  <p><%= activity.created_at %></p>
</div>
