/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require jquery.ui.datepicker
 *= require dataTables/jquery.dataTables
 *= require bootstrap_and_overrides
 */
 ul li
 {

  color:black;
}
a {
  color: #121847;
}
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}
.messages
{
  margin-top:50px;
  background-color: #3498db;
}
.btn-primary {
  color: #FFF;
  background-color: #2BAFED;
  border-color: #D0DAE3;
}
.comment{
 margin:0 auto;
 width:400px;
}
.front
{
  margin:0 auto;

}
.event input
{
  margin:0 auto;

}
.side
{

 margin-left:15px;
}
.edit-form
{

  margin-top:60px;
}
.feed
{

  text-align: center;
}

.credentials
{

  margin-left:70px;
}

.margin
{
  margin-top:100px;
}
.control
{
  width:180px;
  margin-bottom:0px;
  margin-top:0px;
}
.status
{
  margin:0 auto;
  width:500px;
}
.status textarea
{

  width:500px;
}
#updates
{
  float:right;
  margin-right: 15px;
}
.post
{
  color:black;
  margin:0 auto;
  width:600px;
}
.edit-profile
{
  margin: 0 auto;
  width:400px;
}
.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container  p
{

  margin-bottom: 0px;
}

.comment-nav {
  margin-left: 5px;
  margin-bottom: 10px
}
.comment-nav a {
  font-size: 10px;
  font-weight: bold;
  color: #888;
}



.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}



body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;

  color: #555;
  max-width: 100%;
  overflow-x: hidden;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #333;
}



h3 {
  color: #95a5a6;
}

h4 {
  color: #95a5a6;
} 
a:hover{
  background-color: #A9BCF5;
}

.centered {
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
select,option{

  color:black;
}
.navbar-default {
  background-color: #3498db;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
}


.navbar-default .navbar-nav >li >a{
  color: white;
}

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  height: 35px;
  width: 280px;
}

i {
  margin: 8px;
  color: #3498db; 
}
.registration{
  margin-left:50px;
}
.orientation
{
  margin-left:140px;
}
/* HeaderWrap */
#headerwrap {
  /* background: url(../img/bg01.jpg) no-repeat center top; */
  background-color: #3498db;
  margin-top:-20px;
  padding-top:90px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-size: 100%;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}
