/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require jquery.ui.datepicker
 *= require dataTables/jquery.dataTables
 *= require bootstrap_and_overrides
   

 */
 .comment{
 margin:0 auto;
  width:400px;
 }
 .side
 {

 margin-left:15px;
 }
 .edit-form
 {

 	margin-top:60px;
 }
 .feed
 {

 	text-align: center;
 }
 
 .credentials
 {

 	margin-left:70px;
 }
 .credential
 {
 	margin-left:450px;
 }
 .margin
 {
 	margin-top:100px;

 }
 .control
 {
 	width:180px;
 	margin-bottom:0px;
 	margin-top:0px;
 }
 .status
 {
 	margin:0 auto;
 	width:500px;
 }
 #updates
 {
 	float:right;
 	margin-right: 15px;
 }
 .activity
 {
    color:black;
 	margin:0 auto;
 	width:600px;
 }
 .edit-profile
 {
 	margin: 0 auto;
 	width:400px;
 }.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
 p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px
    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}
